<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="app.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <main>
                <%- include("../partials/pagination"); %>
                <br/>

                <p><%=page.title%></p>
                <hr>

                <div>
                    <% page.contents.forEach(p => { %>
                        <p><%=p%></p>
                    <%})%>
                </div>
                
                <hr>
                <% if (page.infos) {
                    page.infos.forEach(p => { %>
                        <p><%=p%></p>
                    <%})
                }%>
                <br/>
                <br/>
                <%- include("../partials/pagination"); %>

                <p>
                <% if (page.navigator && page.navigator.nextChapters) {
                %>
                <hr>
                don't fret, still have more: 
                    <% page.navigator.nextChapters.forEach(p => { %>
                        <%=p%>
                    <%})
                }%>
                </p>
            </main>
        </div>
    </body>
</html>